{% extends "base.html" %}
{% block content %}

<div class="container text-center py-5">
    <h2>Get Ready!</h2>

    <video id="webcam" autoplay playsinline class="d-none"></video>

    <div id="countdown" class="display-1 fw-bold my-4"></div>
    <div id="flash"></div>
    <div id="hint" class="hint">Look at the camera! 3 photos coming up...</div>


    <canvas id="previewCanvas" class="border rounded" width="400" height="800"></canvas>
    

    <form id="email_form" action="/email" method="POST">
        <input type="hidden" name="photostrip_data" id="photostrip_data">
        <button type="submit" id="sendBtn" class="btn btn-success btn-lg mt-4 d-none">
            Continue
        </button>
    </form>
    <button class="btn btn-outline-light" onclick="retry()">
        Retry
    </button>
</div>

<script>
document.getElementById("email_form").submit();

const TEMPLATE_ID = "{{ template_id }}";
const FILTER = "{{ filter_type }}";
document.getElementById('flash').classList.add('flash-show');
setTimeout(()=> document.getElementById('flash').classList.remove('flash-show'), 120);
function retry() {
   window.location.href="/template_select";
}

</script>

<script src="/static/js/webcam.js"></script>
<script src="/static/js/filters.js"></script>
<script src="/static/js/capture.js"></script>

{% endblock %}
